set timeout=-1
set default=0
set color_normal=black/black
set color_highlight=black/black

insmod all_video
insmod gfxterm
insmod png

terminal_output gfxterm

loadfont $prefix/themes/DEMO/fonts/Ubuntu-Regular-13.pf2
loadfont $prefix/themes/DEMO/fonts/Ubuntu-Regular-16.pf2
loadfont $prefix/themes/DEMO/fonts/Ubuntu-Regular-20.pf2
loadfont $prefix/themes/DEMO/fonts/Ubuntu-Regular-24.pf2
loadfont $prefix/themes/DEMO/fonts/Ubuntu-Regular-32.pf2

menuentry "Ubuntu" --class ubuntu {
  echo ""
  echo "  >> INITIALIZING SYSTEM BOOT..."
  echo "  >> LOADING KERNEL IMAGE..."
  echo "  >> MOUNTING ROOT FILESYSTEM..."
  sleep 5
}

menuentry "Windows 11" --class windows {
  echo ""
  echo "  >> INITIALIZING WINDOWS BOOT MANAGER..."
  echo "  >> LOADING BOOTMGR..."
  sleep 5
}
